<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="//at.alicdn.com/t/font_2460313_3ufh5l8d3br.css">
  <title>DIY</title>
</head>
<body>
  <div id="root"></div>
</body>
</html>