.fr-wrapper .form-footer {
  padding: 15px 0;
}
.fr-wrapper .form-header {
  min-height: 100px;
  margin-bottom: 15px;
  padding: 15px;
  border-bottom: 1px dashed #eaeaea;
}
.fr-wrapper .form-header .formName {
  margin-bottom: 0;
  color: #333;
  font-weight: 500;
  font-size: 20px;
}
.fr-wrapper .form-header .formDescription {
  margin-bottom: 0;
  color: #999;
  font-size: 16px;
  word-break: break-all;
}
.mid-layout {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 400px;
  padding: 8px;
  /* height: 100%; */
  overflow: hidden;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fr-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 30vh;
  overflow: hidden;
}

.fr-wrapper .dnd-container {
  flex-grow: 1;
  overflow-y: auto;
}

.fr-wrapper .ant-tabs.ant-tabs-top {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 5px 8px;
}

.fr-wrapper .ant-tabs-content-holder {
  flex-grow: 1;
}

.fr-wrapper .ant-tabs-content.ant-tabs-content-top {
  height: 100%;
}

.fr-wrapper .ant-tabs-tabpane.ant-tabs-tabpane-active {
  height: 100%;
  padding: 10px;
  overflow-y: auto;
}

.form-editor-wrap {
  width: 100%;
  height: 100%;
  .ant-layout {
    height: 100%;
  }
  .layout-header {
    z-index: 1;
    margin-bottom: 2px;
    background-color: #fff;
    box-shadow: 0 2px 4px #eaeaea;
  }
  .layout-content {
    // height: 100%;
    width: 100%;
    background-color: #fff;
  }
  .layout-footer {
    position: flex;
    bottom: 0;
    margin-top: 2px;
    background-color: #fff;
    box-shadow: 0 -2px 4px #eaeaea;
  }
  .layout-sider {
    position: relative;
    .collapsed {
      position: absolute;
      bottom: 0;
      &.iconfont {
        font-size: 30px;
        cursor: pointer;
      }
      &.left {
        right: 0;
      }
    }
  }
}
